* {/* No hilight on Tap  */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@font-face {
    src: url(../fonts/LexendDeca-Regular.ttf);
    font-family: Lexend_Deca;
}

:root {
    --text-color: rgb(255, 255, 255);
    --background-color: rgb(0, 0, 0);
    --accent-color: hsl(0, 0%, 100%);
    --grey: rgb(29, 29, 29);
    --setting-icon: url('../img/setting-black.webp');
    --wush-icon: url('../img/sight-dark.webp');
    --cainman: url('../img/Cainman-black.webp');
    --elivation_color: 70%;
    --button_depth: translate(0, 1%);
}

/* Body preset to a handheld view */
body {
    -webkit-touch-callout: none;
    /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;
    /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;
    /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family: Lexend_Deca, system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-right, 0px);
    height: 100vh;
    width: 100vw;
}

/* mainview && navbar*/
.mainview {
    position: absolute;
    top: 11.5vw;
    right: 0;
    height: calc(100vh - 11.5vw);
    width: 100vw;
    overflow-y: scroll;
    display: none;
    background-color: skyblue;
    color: var(--text-color);
    background-color: var(--background-color);
}

.topbbar {
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 11.5vw;
    /* background-color: var(--grey); */
    background-color: hsl(197, 71%,43%);
    color: hsl(197, 71%,23%);
    font-size: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 500ms, color 500ms;
}

/* Home screen view */
.Begin_sight_btn {
    position: absolute;
    top: 5vw;
    left: 5vw;
    min-height: 10vw;
    height: calc(100% - 11.5vw - 20vw);
    width: 90vw;
    border-radius: 5vw;
    background-color: var(--text-color);
    color: var(--background-color);
    transition: translate 500ms;
    transform: translate(0, 0);
}

.Begin_sight_btn:active {
    /*transition: translate 0ms;*/
    transform: translate(0, 1vw);
}

.Begin_sight_btn .stickman{
    position: absolute;
    height: calc(100% - 11.5vw - 30vw);
    width: 100%;
    left: 0;
    top: 10vw;
    background-image: var(--cainman);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.setting_btn {
    position: absolute;
    bottom: 2vw;
    width: 90vw;
    height: 20vw;
    left: 5vw;
    border-radius: 5vw;
    background-color: var(--text-color);
    color: var(--background-color);
}

.setting_btn:active {
    /*transition: translate 0ms;*/
    transform: translate(0, 1vw);
}

.mainicon {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 20vw;
    width: 20vw;
    background-size: contain;
    background-repeat: no-repeat;
}

#setting_btn .mainicon {
    background-image: var(--setting-icon);
}

#Begin_sight_btn .mainicon {
    background-image: var(--wush-icon);
}

.mainbtn_text {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 20vw;
    font-size: 10vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 20vw);
}

/* Setting view */
#setting_view {
    overflow-x: hidden;
    overflow-y: scroll;
}


/* Setting menu */
#setting_menu {
    overflow-x: hidden;
    overflow-y: scroll;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* this for the buttons for the menu */
.setting_menu_btn {
    width: 85%;
    padding: 25px 0;
    font-size: 28px;
    display: grid;
    place-items: center;
    border-radius: 20px;
    margin-top: 20px;
    border: 2px solid white;
    color:white;
    background-color: rgba(255,255,255, 0.1);
} 

/*    <--  Landscape layout (with min-width) -->     */

@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {

    /* mainview && navbar*/
    .mainview {
        position: absolute;
        top: 0;
        right: unset;
        left: 0;
        height: 100vh;
        width: calc(100vw - 11.5vh);
    }


    /* Setting view */
    #setting_view {
        transition: background-color 500ms, color 500ms;
        overflow-x: hidden;
        overflow-y: scroll;
    }
}